<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eaglesoft.mudeapp.mudeapp" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Mude_Portada"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MudeMain"
            android:label="@string/title_activity_mude_main" >
        </activity>
        <activity
            android:name=".Galeria_Aprende"
            android:label="@string/title_activity_galeria__aprende" >
        </activity>
        <activity
            android:name=".Juega_Aprende"
            android:label="@string/title_activity_juega__aprende" >
        </activity>
        <activity
            android:name=".Sabiasque_Aprende"
            android:label="@string/title_activity_sabiasque__aprende"
            android:theme="@style/Theme.AppCompat.Light">
        </activity>
    </application>

</manifest>
